@import "tailwindcss";

@layer base {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}
